body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
    margin: 0 auto;
}

footer {
    width: 80%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

/* banner formatting */

#topbar {
    clear: both;
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    margin-bottom: 2em;
}

.headerImg {
    display: block;
    margin: 0 auto;
    height: auto;
}

.headerImgA {
    display: block;
    height: 100px;
    width: 100px;
    margin-bottom: 1em;
}

.alignleft {
    float: left;
    width: 26.66666%;
    text-align: left;
    text-decoration: none;
    color: black;
    display: block;
}

.aligncenter {
    float: left;
    width: 26.66666%;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}

.alignright {
    float: left;
    width: 26.66666%;
    text-align: right;
    text-decoration: none;
    color: black;
    display: block;
}

​
/* The navigational formatting */

ul {
    max-width:200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    max-width: 150px;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
